@font-face {
  font-family: "iconfont"; /* Project id 4305706 */
  src: url('iconfont.woff2?t=1698750704508') format('woff2'),
       url('iconfont.woff?t=1698750704508') format('woff'),
       url('iconfont.ttf?t=1698750704508') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renminbi:before {
  content: "\e600";
}

.icon-gouwuchekong:before {
  content: "\e601";
}

.icon-shumashouji:before {
  content: "\e602";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-yanjing:before {
  content: "\e603";
}

.icon-meiyuan:before {
  content: "\eb1a";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-aixin:before {
  content: "\eca2";
}

.icon-arrow-left:before {
  content: "\e645";
}

.icon-arrow-right:before {
  content: "\e646";
}

.icon-yuandianxiao:before {
  content: "\e757";
}

.icon-banquan1:before {
  content: "\e6d5";
}

